form
  header

    h1 Remove File

  section
    .field
      label
        span Remove this file?
        input( type = "text" value = path disabled )

      .hint
        :markdown
          Select _Remove_ to remove this file, _Cancel_ to keep it.

  footer
    nav
      a(href = "#") Cancel
      button Remove
