:host
  display block

article
  display flex
  flex-flow column
  row-gap 2rem
  
a
  color var(--link-text-color)

  &:visited
    color var(--link-text-color)


.status
  padding 0.5rem

.building
  background var(--information-color, lightblue)

.success
  background var(--success-color, lightgreen)

li
  margin-bottom 1rem

.result
  display inline-block
  border-radius var(--border-radius)
  padding 0.5rem

.when
  padding 0.5rem

nav
  display flex
  column-gap 0.5rem