article 
  section 
    section 
      label Display Name 
      div= name 
    section 
      label URL Name 
      div= nickname 
  footer
    nav
      studio-link( name = "profile editor" data-creator = nickname ) Edit
