article 
  section 
    section 
      label URL Name 
      div= nickname 
    section 
      label Display Name 
      div= nickname 
    section 
      studio-link( name = "profile editor" data-creator = nickname ) Edit
