row-gap(size)
  margin -size
  & > *
    margin size

svg
  display inline-block
  fill currentColor
  stroke currentColor
  height 1.25rem
  width 1.25rem
  margin-right 0.5rem

:host
  display block
  background var(--secondary-background)
  flex-basis 100%

vellum-split
  --gutter-color transparent
  --gutter-margin 9px
  --gutter-width 3px
  --gutter-height 4rem
  --gutter-border-right 1px solid white
  --gutter-border-left 1px solid white


.navigator
  display flex
  flex-direction column
  justify-content space-between
  margin 1rem 0 1rem 1rem
  width stretch
  width -webkit-fill-available
  width -moz-available
  font-size 1rem
  line-height 1.5rem
  color var(--body-text-color)
  background-color var(--background-color)
  border-radius var(--small-border-radius)
  min-width 15rem

  .directory
    &.selected + .actions li.selected
      display block

    padding-left 1rem

    .title
      display flex
      align-items center

    ul
      list-style-type none
      margin 0
      padding 0

      li
        margin 0
        padding 0.25rem
        border-radius var(--small-border-radius)
        cursor pointer

        &:focus
          outline none

        &.folder.selected
          & vellum-drawer > [slot $= "-label"]
            background var(--accent-color)
            color white
        &.file.selected > div
          background var(--accent-color)
          color white

        ul
          margin-left 1.5rem


        & > div
          display flex
          align-items center
          padding 0.25rem
          border-radius var(--small-border-radius)
          cursor pointer

        & > vellum-drawer
          [slot $= "-label"]
            display inline-flex
            align-items center
            padding 0.25rem
            border-radius var(--small-border-radius)
            cursor pointer
            width stretch
            width -webkit-fill-available
            width -moz-available

  .actions
    vellum-drawer
      [slot $= "-label" ]
        display flex
        justify-content center
        align-items center
        border 1px solid var(--button-border-color)
        border-radius var(--small-border-radius)
        color var(--button-text-color)
        background var(-button-background)
        margin 0.5rem
        padding 1rem
        font-size 0.9rem
        line-height 1rem
        & > svg
          fill currentColor
          width 1.5rem
          height 1.5rem
          margin-right 0.5rem

      [slot = "content"]
        padding-left 1rem

        & > ul
          list-style-type none
          padding 0
          margin 0

          & > li
            padding 0.5rem
            margin 0
            border-radius var(--small-border-radius)

            & > button
              display flex
              align-items center
              color var(--button-text-color)
              background transparent
              border none
              margin-left 0.5rem
              margin-top -0.5rem
              padding 0.25rem
              font-size 0.9rem
              line-height 1rem
              cursor pointer

              &:disabled
                color var(--disabled-button-text-color)
                opacity var(--disabled-button-opacity)
                background var(--disabled-button-background)


.editor
  margin 1rem 1rem 1rem 0
  width stretch
  width -webkit-fill-available
  width -moz-available
  border-radius var(--small-border-radius)
  padding 0.5rem 0.25rem 0 0.25rem
  background-color var(--background)
  font-size 1rem

  vellum-tabs
    div[slot^='tab-']
      display flex
      align-items center

      background transparent
      cursor pointer
      padding 0.75rem
      border 1px solid silver
      border-top-left-radius 0.5rem
      border-top-right-radius 0.5rem
      margin-right 0.125rem
      transition border-width 0.1s linear

      &[selected]
        border-bottom 2px solid black


      button
        background transparent
        cursor pointer
        margin-right 0
        margin-left 0.5rem
        padding 0
        border none

      svg
        margin-right 0
        height 0.75rem
        width 0.75rem
