row-gap(size)
  margin -size
  & > *
    margin size

:host
  display flex
  row-gap 1rem
  border 1px solid var(--soft-background)
  background-color var(--soft-background)

  // adapted from: https://codepen.io/rstrangh/pen/dGweRo

  .navigator
    display flex
    flex-direction column
    justify-content space-between
    flex 1
    max-width 24rem
    font-size 1rem
    line-height 1.5rem
    background-color var(--background)

    .directory

      ul
        list-style-type none
        padding 0
        margin 0

        li
          padding 0.5rem
          margin 0
          border-radius 0.25rem

          &:focus
            background var(--dark-background)
            outline none
            color white
            :before
              filter brightness(0) invert(1)
            
          ul
            margin-left 1.5rem

          & > vellum-drawer
            [slot $= "-label"]
              display inline-flex
              align-items center
              &:before
                display inline-block
                height 1.25rem
                width 1.25rem
                margin-right 0.5rem

            [slot = "opened-label"]
              &:before
                content url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojMTAxODIwO308L3N0eWxlPjwvZGVmcz48dGl0bGUvPjxnIGRhdGEtbmFtZT0iTGF5ZXIgMzgiIGlkPSJMYXllcl8zOCI+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMjgsMjhINGEzLDMsMCwwLDEtMy0zVjdBMywzLDAsMCwxLDQsNGg4YTEsMSwwLDAsMSwuNzcuMzZMMTUuOCw4SDI4YTMsMywwLDAsMSwzLDNWMjVBMywzLDAsMCwxLDI4LDI4Wk00LDZBMSwxLDAsMCwwLDMsN1YyNWExLDEsMCwwLDAsMSwxSDI4YTEsMSwwLDAsMCwxLTFWMTFhMSwxLDAsMCwwLTEtMUgxNS4zM2ExLDEsMCwwLDEtLjc2LS4zNkwxMS41Myw2WiIvPjwvZz48L3N2Zz4=")
            [slot = "closed-label"]
              &:before
                content url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojMTAxODIwO308L3N0eWxlPjwvZGVmcz48dGl0bGUvPjxnIGRhdGEtbmFtZT0iTGF5ZXIgMzkiIGlkPSJMYXllcl8zOSI+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNCwyOGEzLDMsMCwwLDEtMy0zVjdBMywzLDAsMCwxLDQsNGg3YTEsMSwwLDAsMSwuNzcuMzZMMTQuOCw4SDI3YTEsMSwwLDAsMSwwLDJIMTQuMzNhMSwxLDAsMCwxLS43Ni0uMzZMMTAuNTMsNkg0QTEsMSwwLDAsMCwzLDdWMjVhMSwxLDAsMCwwLDEsMSwxLDEsMCwwLDEsMCwyWiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTI1LjM4LDI4SDRhMSwxLDAsMCwxLTEtMS4yMWwzLTE0QTEsMSwwLDAsMSw3LDEySDMwYTEsMSwwLDAsMSwxLDEuMjFMMjguMzIsMjUuNjNBMywzLDAsMCwxLDI1LjM4LDI4Wk01LjI0LDI2SDI1LjM4YTEsMSwwLDAsMCwxLS43OUwyOC43NiwxNGgtMjFaIi8+PC9nPjwvc3ZnPg==")

    .actions

      input
        padding 0
        margin 0
        position absolute
        opacity 0
        z-index -1

      label
        display flex
        justify-content center
        align-items center
        border 1px solid var(--dark-background)
        border-radius 0.25rem
        color var(--button-text)
        background transparent
        margin 0.5rem
        padding 1rem
        font-size 0.9rem
        line-height 1rem
        user-select none
        cursor pointer

        & > svg
          fill currentColor
          width 1.5rem
          height 1.5rem
          margin-right 1rem

      input + label + .drawer
        animation-name slideOut
        animation-duration 0.25s
        animation-fill-mode both

      input:checked + label + .drawer
        animation-name slideIn
        animation-duration 0.25s
        animation-fill-mode both

      .drawer
        overflow hidden
        transition all 0.2s ease-in-out
        color var(--button-text)
        background transparent

        & > ul
          list-style-type none
          padding 0
          margin 0

          & > li
            padding 0.5rem
            margin 0
            border-radius 0.25rem

            & > button
              display flex
              align-items center
              color var(--button-text)
              background transparent
              border none
              margin-left 0.5rem
              margin-top -0.5rem
              padding 0.25rem
              font-size 0.9rem
              line-height 1rem

              & > svg
                fill currentColor
                width 1.5rem
                height 1.5rem
                margin-right 1rem

  .editor
    background-color var(--background)
    flex 3
    max-width 80ch
    font-size 1rem

@keyframes slideIn {
  0% {
    max-height: 0;
    opacity: 0;
  }

  100% {
    max-height: 999px;
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    height: auto;
    opacity: 1;
  }

  100% {
    height: 0;
    opacity: 0;
  }
}
