mixin list(items)
  ul
    each item in items
      if Array.isArray(item)
        li.folder( tabindex = 0)
          vellum-drawer
            div( slot = "closed-label" )
              include /src/media/images/closed-folder.svg
              span= item[0]
            div( slot = "opened-label" )
              include /src/media/images/opened-folder.svg
              span= item[0]
            div( slot = "content" ): +list(item[1])
      else
        li.file( tabindex = 0 )
          div
            include /src/media/images/file.svg
            span= item
.main

  .navigator

    .directory
      p.title
        include /src/media/images/project.svg
        span= project.title
      +list(project.drive)


    .actions
      vellum-drawer
        div( slot = "closed-label")
          include /src/media/images/file-actions.svg
          span Show Actions
        div( slot = "opened-label" )
          include /src/media/images/file-actions.svg
          span Hide Actions
        div( slot = "content" )
          ul
            li
              button( name = "open-project" )
                include /src/media/images/project.svg
                span Open Project&hellip;
            li
              button( name = "new-folder" )
                include /src/media/images/new-folder.svg
                span New Folder&hellip;
            li
              button( name = "new-file" )
                include /src/media/images/new-file.svg
                span New File&hellip;
            li
              button.if-selection( name = "rename" disabled )
                include /src/media/images/rename.svg
                span Rename&hellip;

            li
              button.if-selection( name = "delete" disabled )
                include /src/media/images/delete.svg
                span Delete&hellip;

  .editor
