- counter = 0
mixin list(items)
  ul
    each item in items
      if Array.isArray(item)
        li( tabindex = 0)
          input(type = "checkbox" id = `tree-toggle-${counter}`)
          label( for=`tree-toggle-${counter++}` )= item[0]
          +list(item[1])
      else
        li( tabindex = 0 ): span= item

div.navigator
  .directory
    +list(project.drive)

  .actions
    input(type = "checkbox" id = "actions-toggle" )
    label( for = "actions-toggle" )
      svg: use( href= "/media/images/sprites.svg#file-actions" )
      span Actions
    .drawer
      ul
        li
          button
            svg: use( href= "/media/images/sprites.svg#new-file" )
            span New File
        li
          button
            svg: use( href= "/media/images/sprites.svg#new-folder" )
            span New Folder

div.editor
