mixin list(items)
  ul
    each item in items
      if Array.isArray(item)
        li( tabindex = 0)
          vellum-drawer
            span( slot = "closed-label")= item[0]
            span( slot = "opened-label")= item[0]
            div( slot = "content" ): +list(item[1])
      else
        li( tabindex = 0 ): span= item

div.navigator
  .directory
    +list(project.drive)

  .actions
    vellum-drawer
      div( slot = "closed-label")
        svg: use( href= "/media/images/sprites.svg#file-actions" )
        span Show Actions
      div( slot = "opened-label" )
        svg: use( href= "/media/images/sprites.svg#file-actions" )
        span Hide Actions
      div( slot = "content" )
        ul
          li
            button
              svg: use( href= "/media/images/sprites.svg#new-file" )
              span New File
          li
            button
              svg: use( href= "/media/images/sprites.svg#new-folder" )
              span New Folder

div.editor
