form
  header

    h1 Rename

  section
    .field
      label
        span Path
        input( type = "text" required = "true" value = path)

      .hint
        :markdown
          Enter the new path.

  footer
    nav
      a(name = "cancel" href = "#") Cancel
      button Rename
