:host
  display block

article
  display flex
  flex-wrap wrap
  gap 2rem
  max-width 48rem

h2
  font-size 1.5rem
  line-height 2rem
  margin 0
  padding 0
  margin-bottom 2rem

section
  min-width 22rem
