nav
  studio-link( name = "workspace" data-creator = creator data-project = name )= title
  studio-link( name = "project editor" data-creator = creator data-project = name) (manage)
  studio-link( name = "publish" data-creator = creator data-project = name) (history)
